.table-container{
    margin-top: 20px;
    padding: 10px;
    width: 395px;
    height: 310px;
    background-color: #21222D;
    border-radius: 10px;
}

.container-pass {
    display: block;
    grid-template-columns: 1fr 1fr;
}

.chart-container{
    margin-top: 20px;
    padding: 10px;
    width: 395px;
    height: 240px;
    background-color: #21222D;
    border-radius: 10px;
}

.label-header{
    color: white;
    font-size: 17px; 
    font-family: 'Inter', 'Bold';
    margin-top: 3px;
    margin-left: 10px;
}

